[submodule "src/themes/ps-docs-theme"]
	path = src/themes/ps-docs-theme
	url = https://github.com/PrestaShop/ps-docs-theme.git
	branch = main

[submodule "1.7.x"]
	path = src/content/1.7
	url = git@github.com:prestashop/docs
	branch = 1.7.x

[submodule "8.x"]
	path = src/content/8.0
	url = git@github.com:prestashop/docs
	branch = 8.x
