baseURL: "https://devdocs.prestashop-project.org/"
languageCode: "en-us"
defaultContentLanguage: "en"
title: "PrestaShop Developer Documentation"

theme: "ps-docs-theme"
enableGitInfo: true
enableRobotsTXT: true
googleAnalytics: "UA-2753771-44"

params:
  editURL: "https://github.com/PrestaShop/docs/edit/"
  ghRepoURL: "https://github.com/PrestaShop/docs/"
  ghCommitURL: "https://github.com/PrestaShop/docs/commit/"
  ghApiCommitURL: "https://api.github.com/repos/prestashop/docs/commits"
  howToContributeURL: "/8/contribute/documentation/how/"
  description: "Learn how to extend, modify and test PrestaShop, create modules, themes, and more."
  author: "PrestaShop"
  showVisitedLinks: false
  disableInlineCopyToClipBoard: true
  projectUrls:
    gitHub: "https://github.com/PrestaShop/PrestaShop/"
    reportBug: "https://github.com/PrestaShop/PrestaShop/issues"
    slack: "https://www.prestashop-project.org/slack/readme/"
  coverImage: "images/social-cover.jpg"
  logoTitle: "PrestaShop DevDocs"

  # Default documentation version
  versions:
    current: "8"

  docSearch:
    appId: "79DO4UR9Y5"
    apiKey: "fe8683fb1473b7993657dd80ede7b6f9"
    indexName: "prestashop"

# For search functionality
outputs:
  home: ["HTML", "RSS", "JSON"]

markup:
  highlight:
    codeFences: true
    guessSyntax: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: false
    style: github
    tabWidth: 4
  goldmark:
    renderer:
      unsafe: true
    parser:
      attribute:
        block: true
  tableOfContents:
    endLevel: 4
    ordered: false
    startLevel: 1

ignoreFiles:
  - /README.md$
  - /LICENSE$
  - \.gitignore$
  - \.github$

security:
  funcs:
    getenv:
      - ^HUGO_
      - ^DEVDOCS_