{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>

<style type="text/css">
	#body-inner {
		margin-right: 0;
	}

	h1 {
		text-align: center;
	}

	@media only all and (max-width: 30em) {
		h1 {
			overflow-wrap: break-word;
			font-size: 2.8rem;
			text-align: left;
		}

		#home .container {
			display: block;
			text-align: center;
		}

		#home .container > div {
			width: 100%;
			margin: 0;
			padding: 0 0 20px;
		}
	}

</style>

<div id="home">
	{{if .Site.Home.Content }}
	{{.Site.Home.Content}}
	{{else}}
		No content
	{{ end }}
</div>

{{ partial "footer.html" . }}
